<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CraigsBayAuctionHouse</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>createAuctionServlet</display-name>
    <servlet-name>createAuctionServlet</servlet-name>
    <servlet-class>Servlets.createAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createAuctionServlet</servlet-name>
    <url-pattern>/createAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userLoginServlet</display-name>
    <servlet-name>userLoginServlet</servlet-name>
    <servlet-class>Servlets.userLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLoginServlet</servlet-name>
    <url-pattern>/userLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pageFrameTestServlet</display-name>
    <servlet-name>pageFrameTestServlet</servlet-name>
    <servlet-class>Servlets.pageFrameTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pageFrameTestServlet</servlet-name>
    <url-pattern>/pageFrameTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>entryServlet</display-name>
    <servlet-name>entryServlet</servlet-name>
    <servlet-class>Servlets.entryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>entryServlet</servlet-name>
    <url-pattern>/entryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userCheckServlet</display-name>
    <servlet-name>userCheckServlet</servlet-name>
    <servlet-class>Servlets.userCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userCheckServlet</servlet-name>
    <url-pattern>/userCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listAuctionsServlet</display-name>
    <servlet-name>listAuctionsServlet</servlet-name>
    <servlet-class>Servlets.listAuctionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listAuctionsServlet</servlet-name>
    <url-pattern>/listAuctionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userCreateAuctionServlet</display-name>
    <servlet-name>userCreateAuctionServlet</servlet-name>
    <servlet-class>Servlets.userCreateAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userCreateAuctionServlet</servlet-name>
    <url-pattern>/userCreateAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>flickrTestServlet</display-name>
    <servlet-name>flickrTestServlet</servlet-name>
    <servlet-class>Servlets.createAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flickrTestServlet</servlet-name>
    <url-pattern>/flickrTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>flickrServletTest</display-name>
    <servlet-name>flickrServletTest</servlet-name>
    <servlet-class>Servlets.entryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flickrServletTest</servlet-name>
    <url-pattern>/flickrServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userViewAuctionServlet</display-name>
    <servlet-name>userViewAuctionServlet</servlet-name>
    <servlet-class>Servlets.userViewAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userViewAuctionServlet</servlet-name>
    <url-pattern>/userViewAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userEditInfo</display-name>
    <servlet-name>userEditInfo</servlet-name>
    <servlet-class>Servlets.userEditInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userEditInfo</servlet-name>
    <url-pattern>/userEditInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userAuctionBidServlet</display-name>
    <servlet-name>userAuctionBidServlet</servlet-name>
    <servlet-class>Servlets.userAuctionBidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userAuctionBidServlet</servlet-name>
    <url-pattern>/userAuctionBidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userLogoutServlet</display-name>
    <servlet-name>userLogoutServlet</servlet-name>
    <servlet-class>Servlets.userLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogoutServlet</servlet-name>
    <url-pattern>/userLogoutServlet</url-pattern>
  </servlet-mapping>

</web-app>