
#bubblemenu li {
                display: inline;
                margin-left: 15px;
				cursor:pointer;
            }
			
            
            #bubblemenu li > div {
                width: 430px;
                min-height: 200px;
			    position: absolute;
                display: inline;
                margin-left: -120px;
                padding: 5px;
				visibility:hidden;
                opacity: 0;
                margin-top: -125px;
				background: #ffffff;
				font-size:1em;
				
				/* Setting the border-radius property for all Browsers */
                -moz-border-radius: 5px; /* Firefox */
                -webkit-border-radius: 5px; /* Safari and Chrome */
                border-radius: 5px; /* Browsers that Support it like Opera */
				
				/* Setting the box-shadow property for all Browsers */
                -moz-box-shadow: 0 0 8px gray; /* Firefox */
                -webkit-box-shadow: 0 0 8px gray; /* Safari and Chrome */
				filter: progid:DXImageTransform.Microsoft.Shadow(color='#272229', Direction=135, Strength=3); /* IE */
                box-shadow: 0 0 8px gray; /* Browsers that Support it like Opera */

				/* Setting the transition property for all Browsers */
				-moz-transition: all 5.0s ease-in-out; /* Firefox */
                -webkit-transition: all 5.0s ease; /* Safari and Chrome */
                -o-transition: all 5.0s ease-in-out; /* Opera */
                transition: all 5.0s ease; /* Browsers that Support it */

				
            }
            
			
            #bubblemenu li:hover > div {
            	
				visibility:visible;
                opacity: 1;
                margin-top: 20px;
				
				/* Setting the transition property for all Browsers */
				-moz-transition: all 0.5s ease-in-out; /* Firefox */
                -webkit-transition: all 0.5s ; /* Safari and Chrome */
                -o-transition: all 0.5s ease-in-out;  /* Opera */
                transition: all 0.5s ease-in-out; /* Browsers that Support it */
            }