/******************************************************************************
* Styles for tabbed content.                                                  *
******************************************************************************/

a {
  text-decoration: none;
}

a, a:visited {
  color: #5030c0;
}

a:hover {
  color: #5030c0;
  text-decoration: underline;
}

blockquote {
  margin-left: 1em;
}

body {
  background-color: #f0e0ff;
  font-family: sans-serif;
  font-size: 10pt;
  scrollbar-base-color: #d0b0ff;
}

img {
  border: 2px solid #000000;
  border-color: #c0b0d0 #ffffff #ffffff #c0b0d0;
}

div.left {
  float: left;
  margin: .25em 1.5em .25em 0em;
}

div.right {
  float: right;
  margin: .25em 0em .25em 1.5em;
}

sup {
  font-size: 70%;
}