<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CraigsBayAuctionHouse</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>createAuctionServlet</display-name>
    <servlet-name>createAuctionServlet</servlet-name>
    <servlet-class>Servlets.createAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createAuctionServlet</servlet-name>
    <url-pattern>/createAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userLoginServlet</display-name>
    <servlet-name>userLoginServlet</servlet-name>
    <servlet-class>Servlets.userLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLoginServlet</servlet-name>
    <url-pattern>/userLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pageFrameTestServlet</display-name>
    <servlet-name>pageFrameTestServlet</servlet-name>
    <servlet-class>Servlets.pageFrameTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pageFrameTestServlet</servlet-name>
    <url-pattern>/pageFrameTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>entryServlet</display-name>
    <servlet-name>entryServlet</servlet-name>
    <servlet-class>Servlets.entryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>entryServlet</servlet-name>
    <url-pattern>/entryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userCheckServlet</display-name>
    <servlet-name>userCheckServlet</servlet-name>
    <servlet-class>Servlets.userCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userCheckServlet</servlet-name>
    <url-pattern>/userCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>auctionListAllServlet</display-name>
    <servlet-name>auctionListAllServlet</servlet-name>
    <servlet-class>Servlets.auctionListAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>auctionListAllServlet</servlet-name>
    <url-pattern>/auctionListAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userCreateAuctionServlet</display-name>
    <servlet-name>userCreateAuctionServlet</servlet-name>
    <servlet-class>Servlets.userCreateAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userCreateAuctionServlet</servlet-name>
    <url-pattern>/userCreateAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>flickrTestServlet</display-name>
    <servlet-name>flickrTestServlet</servlet-name>
    <servlet-class>Servlets.createAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flickrTestServlet</servlet-name>
    <url-pattern>/flickrTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>flickrServletTest</display-name>
    <servlet-name>flickrServletTest</servlet-name>
    <servlet-class>Servlets.entryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flickrServletTest</servlet-name>
    <url-pattern>/flickrServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userViewAuctionServlet</display-name>
    <servlet-name>userViewAuctionServlet</servlet-name>
    <servlet-class>Servlets.userViewAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userViewAuctionServlet</servlet-name>
    <url-pattern>/userViewAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userEditInfo</display-name>
    <servlet-name>userEditInfo</servlet-name>
    <servlet-class>Servlets.userEditInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userEditInfo</servlet-name>
    <url-pattern>/userEditInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userAuctionBidServlet</display-name>
    <servlet-name>userAuctionBidServlet</servlet-name>
    <servlet-class>Servlets.userAuctionBidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userAuctionBidServlet</servlet-name>
    <url-pattern>/userAuctionBidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userLogoutServlet</display-name>
    <servlet-name>userLogoutServlet</servlet-name>
    <servlet-class>Servlets.userLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogoutServlet</servlet-name>
    <url-pattern>/userLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>auctionListUserPostedServlet</display-name>
    <servlet-name>auctionListUserPostedServlet</servlet-name>
    <servlet-class>Servlets.auctionListUserPostedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>auctionListUserPostedServlet</servlet-name>
    <url-pattern>/auctionListUserPostedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>auctionListUserBiddedServlet</display-name>
    <servlet-name>auctionListUserBiddedServlet</servlet-name>
    <servlet-class>Servlets.auctionListUserBiddedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>auctionListUserBiddedServlet</servlet-name>
    <url-pattern>/auctionListUserBiddedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>auctionChangeStatus</display-name>
    <servlet-name>auctionChangeStatus</servlet-name>
    <servlet-class>Servlets.auctionChangeStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>auctionChangeStatus</servlet-name>
    <url-pattern>/auctionChangeStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>auctionChangeStatusServlet</display-name>
    <servlet-name>auctionChangeStatusServlet</servlet-name>
    <servlet-class>Servlets.auctionChangeStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>auctionChangeStatusServlet</servlet-name>
    <url-pattern>/auctionChangeStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chatRelayServlet</display-name>
    <servlet-name>chatRelayServlet</servlet-name>
    <servlet-class>Servlets.chatRelayServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>chatRelayServlet</servlet-name>
    <url-pattern>/chatRelayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>flickrServlet</display-name>
    <servlet-name>flickrServlet</servlet-name>
    <servlet-class>Servlets.flickrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flickrServlet</servlet-name>
    <url-pattern>/flickrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>auctionExpiredSMSServlet</display-name>
    <servlet-name>auctionExpiredSMSServlet</servlet-name>
    <servlet-class>Servlets.auctionExpiredSMSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>auctionExpiredSMSServlet</servlet-name>
    <url-pattern>/auctionExpiredSMSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerUserServlet</display-name>
    <servlet-name>registerUserServlet</servlet-name>
    <servlet-class>Servlets.registerUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerUserServlet</servlet-name>
    <url-pattern>/registerUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuctionPostChatServlet</display-name>
    <servlet-name>AuctionPostChatServlet</servlet-name>
    <servlet-class>Servlets.AuctionPostChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuctionPostChatServlet</servlet-name>
    <url-pattern>/AuctionPostChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuctionRefreshChatServlet</display-name>
    <servlet-name>AuctionRefreshChatServlet</servlet-name>
    <servlet-class>Servlets.AuctionRefreshChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuctionRefreshChatServlet</servlet-name>
    <url-pattern>/AuctionRefreshChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>friendsListServlet</display-name>
    <servlet-name>friendsListServlet</servlet-name>
    <servlet-class>Servlets.friendsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>friendsListServlet</servlet-name>
    <url-pattern>/friendsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>friendDeleteServlet</display-name>
    <servlet-name>friendDeleteServlet</servlet-name>
    <servlet-class>Servlets.friendDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>friendDeleteServlet</servlet-name>
    <url-pattern>/friendDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>friendAddServlet</display-name>
    <servlet-name>friendAddServlet</servlet-name>
    <servlet-class>Servlets.friendAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>friendAddServlet</servlet-name>
    <url-pattern>/friendAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chatRegisterServlet</display-name>
    <servlet-name>chatRegisterServlet</servlet-name>
    <servlet-class>Servlets.chatRegisterServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>chatRegisterServlet</servlet-name>
    <url-pattern>/chatRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchByOwnerServlet</display-name>
    <servlet-name>searchByOwnerServlet</servlet-name>
    <servlet-class>Servlets.searchByOwnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchByOwnerServlet</servlet-name>
    <url-pattern>/searchByOwnerServlet</url-pattern>
  </servlet-mapping>
</web-app>